.body {
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.appTitle {
    box-shadow: 0 0 5px 2px lightgray;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 50px;
    padding: 40px 50px;
    margin: 20px;
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 2px rgb(56, 55, 55);
    position: relative;
}

.appTitle>.shadow {
    color: rgba(87, 83, 83, 0.685);
    position: absolute;
    left: 40px;
    top: 50px;
    z-index: 1;
}

.appTitle>.videoCamera {
    position: absolute;
    left: 38px;
    top: 48px;
    z-index: 2;
}

.appTitle>span {
    margin-left: 40px;
}

.searchBar {
    color: white;
    border: solid 1px black;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    margin: 20px;
    border: none;
}

.searchBar>input {
    background-color: #FFFFFF33;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 1.5rem;
    width: 100%;
    border: none;
    outline: none;
}

.searchBar>input:hover {
    background-color: #ffffff4b;
}

.searchBar>input:focus {
    background-color: #ffffff4b;
    box-shadow: 0 0 5px 2px white;
}

.magnifyingGlass {
    position: absolute;
    padding: 14px;
    right: 10px;
    top: 0;
    font-size: 1.5rem;
    cursor: pointer;
}