.no-movies {
    color: rgba(255, 255, 255, 0.404);
    text-align: center;
    font-size: 2.5rem;
    margin: 100px auto;
}

.watchlistContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

.watchlistMovieCard {
    background-color: rgba(255, 255, 255, 0.178);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 270px;
    margin: 25px;
    border-radius: 5px;
    box-shadow: 0 4px 5px 0px;
    position: relative;
}

.watchlistMovieCover {
    height: 370px;
    width: 100%;
    border-radius: 5px;
}

.watchlistMovieName {
    width: 250px;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 2px 5px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
}

.watchlistMovieCard:hover .watchlistMovieName {
    opacity: 1;
}


.card-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
}

.watchlistMovieCard:hover .card-controls {
    opacity: 1;
}

.control-btns {
    display: flex;
    justify-content: space-evenly;
    background: none;
    color: white;
}

.control-btn {
    color: #fefefe;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;
    font-size: 2rem;
    padding: 5px;
    margin: 0 10px;
}

.control-btn:hover {
    color: rgb(87, 86, 86);
    cursor: pointer;
}