.card-controls {
    border-radius: 5px;
    transition: all 0.3s ease;
}

.control_button_container{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
}

.control_button_wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.control_button_wrapper button{
    color: var(--main-text-color);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background: var(--button-bg-color);
}

.control_button_wrapper button:hover {
    background: var(--hover-button-bg-color);
}

.control_icon_buttons{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.control-btn span{
    font-size: 1rem;
}

.control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #fefefe;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;    
    gap: 10px;
}

.trash, .info{
    transform: scale(1.4);
}

.to_watched{
    display: flex;
    flex-direction: column;
    height: 20px;
    transform: rotate(-25deg); 
}

.to_watchlist{
    display: flex;
    flex-direction: column;
    height: 20px;
    transform: rotate(25deg); 
}