.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 70px;
    max-width: 800px;
    margin: auto;    
}

.selectors {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.selectors>div {
    display: flex;  
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
}

.watchlist, .watched{
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 2;
}

.badge{
    background: red;
    color: #fff;
    padding: 0 15px;
    border-radius: 50px;
    font-size: 1rem;   
}


.topbarLinks {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    transition: .2s ease;
}

.topbarLinks:hover {
    background-color: var(--second-bg-color);
    transition: .1s ease;
}