nav {
    background: var(--navbar-bg-color);
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 10px;
    box-shadow: 0 0 5px 0 var(--movie-bg-color);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

.topbar_link {
    color: var(--main-text-color);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    transition: .2s ease;
    cursor: pointer;
}

.topbar_link:hover {
    background-color: var(--hover-topbar-bg-color);
    transition: .1s ease;
}

.watchlist, .watched{
    display: flex;
    align-items: center;
    gap: 10px;
}

.badge{
    background: red;
    color: #fff;
    padding: 0 15px;
    border-radius: 50px;
    font-size: 1rem;   
}