@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.app {
    background: var(--main-bg-color);
    min-height: 100vh;
}

:root {

    --standout-color: red;

    --main-bg-color: #051b3d;
    --movie-bg-color: #ffffff21;
    
    --button-bg-color: #000000;
    --hover-button-bg-color: #262626;

    --hover-topbar-bg-color: #0b3677bb;

    --main-text-color: #ffffff;
    --second-text-color: #e6e6e6;
    --third-text-color: #c5c5c5;
    --fourth-text-color: #000000;
}


.list-info {
    display: flex;
}

.amount-container {
    margin: 20px 0 0 20px;
    font-size: 1.7rem;

}


.number-of {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    border: solid 1px #fff;
}

.list-info h1 {
    flex: 1;
}










@media (max-width:1100px) {

    /* START TOP PARTE OF HOME PAGE  */

    nav {
        gap: 80px;
    }

    .badge {
        padding: 0 10px;
        font-size: .9rem;
    }

    .heading {
        font-size: 2.1rem;
    }

    .heading_icon {
        transform: scale(2.5);
        padding: 10px;
    }

    .searchBar {
        min-width: 500px;
    }

    .searchBar>input {
        font-size: 1.2rem;
        padding: 10px 10px;
    }

    .searchIcon {
        transform: scale(1);
        right: 10px;
    }

    /* END TOP PARTE OF HOME PAGE  */





    /* START LIST OF MOVIES HOME PAGE */

    .movieContainer {
        padding: 20px;
        gap: 20px;
    }

    .movieInfo {
        font-size: .9rem;
    }

    .addMovieBtn {
        font-size: .9rem;
    }

    /* END LIST OF MOVIES HOME PAGE */






    /* START MOVIE INFORMATION */

    .movie-info-poster img {
        height: 400px;
    }

    .movie_info_container {
        padding: 20px;
        width: 90%;
    }

    .movie_info_details {
        width: 60%;
    }

    .movie_info_title {
        font-size: 1.5rem;
    }

    .movie_info {
        font-size: 1rem;
    }

    .movie_info label {
        font-size: 1.1rem;
    }

    /* END MOVIE INFORMATION */







    /* WATCH LIST AND WATCHED  */

    .amount-container {
        font-size: 1.4rem;
    }

    .number-of {
        margin-top: 15px;
    }

    .watchlistContainer {
        gap: 20px;
    }


    .watchlistMovieCard {
        width: 220px;
    }

    .watchlistMovieCover {
        height: 320px;
    }

    .watchlistMovieName {
        font-size: .8rem;
    }

    .control_button_wrapper button {
        padding: 8px;
    }

    .trash,
    .info {
        transform: scale(1);
    }

    .no-movies {
        font-size: 2rem;
    }
}





@media (max-width:750px) {

    nav {
        gap: 50px;
    }

    .badge {
        font-size: .8rem;
    }

    .heading {
        font-size: 1.5rem;
        gap: 10px;
    }

    .heading_icon {
        transform: scale(2);
        padding: 10px;
    }

    .searchBar {
        min-width: 350px;
    }

    .searchBar>input {
        padding: 6px 15px;
        font-size: 1rem;
    }

    .searchIcon {
        right: 0;
    }


    .movieContainer {
        padding: 10px;
        gap: 18px;
    }

    .singleMovie {
        width: 150px;
    }

    .movieCover {
        height: 200px;
    }

    .movieInfo {
        font-size: .7rem;
    }

    .movieListBtns {
        padding: 0 5px;
    }

    .addMovieBtn {
        font-size: .8rem;
        padding: 4px 12px 4px 5px ;
        border-radius: 3px;
    }

    .add_icon {
        transform: scale(.75);
        margin: -2px;
    }

    .infoBtn {
        transform: scale(.9);
        padding: 0px 5px;
    }

    .rateAndYear {
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        /* border: 1px solid yellow; */
    }




    /* START MOVIE INFORMATION */

    .movie_info_container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 80%;
    }

    .movie-info-poster img {
        height: 300px;
        padding-top: 10px;
    }

    .movie_info_details {
        width: 100%;
        gap: 10px;
        padding: 0;
    }

    .hideMovieInfo {
        right: 20px;
        top: 20px;
    }

    /* END MOVIE INFORMATION */







    /* WATCH LIST AND WATCHED  */

    .amount-container {
        margin: 0 0 0 10px;
        font-size: .9rem;
    }

    .number-of {
        padding: 10px 20px;
    }

    .watchlistContainer {
        gap: 20px;
    }

    .watchlistMovieCard {
        width: 200px;
    }

    .watchlistMovieCover {
        height: 300px;
    }

    .control_button_wrapper button {
        padding: 5px;
    }

    .control-btn {
        gap: 5px;
    }

    .control-btn span {
        font-size: .8rem;
    }

    .trash,
    .eye,
    .info {
        transform: scale(.9);
    }

    .no-movies {
        font-size: 1.5rem;
    }
}

@media (max-width:450px) {

    nav {
        font-size: .8rem;
        gap: 20px;
    }


    .watchlist,
    .watched {
        gap: 5px;
    }

    .badge {
        font-size: .7rem;
        padding: 0 5px;
    }

    .heading {
        font-size: .9rem;
    }

    .heading_icon {
        transform: scale(1.2);
        padding: 0px;
    }

    .heading img {
        border-radius: 5px;
        padding: 1px;
        width: 25px;
    }

    .searchBar {
        min-width: 200px;
    }

    .searchBar>input {
        padding-left: 5px;
        font-size: .6rem;
    }

    .searchIcon {
        transform: scale(.8);

    }


    .movieContainer {
        padding: 5px;
        gap: 12px;
    }

    .singleMovie {
        width: 140px;
    }

    .movieCover {
        height: 180px;
    }

    .movieInfo {
        font-size: .6rem;
    }

    .addMovieBtn {
        
        font-size: .8rem;
        padding: 2px 8px 2px 2px ;
    }

    .add_icon {
        transform: scale(.6);
        margin-right: -5px;
    }

    .infoBtn {
        font-size: .4rem;
        padding: 0px;
    }

    .infoBtn-bg {
        padding: 0;
    }



    /* START MOVIE INFORMATION */

    .movie_info_container {
        padding: 5px;
    }

    .movie-info-poster img {
        height: 200px;
    }

    .movie_info_details {
        gap: 2px;
    }

    .movie_info_title {
        font-size: 1rem;
    }

    .movie_info {
        font-size: .6rem;
    }

    .movie_info label {
        font-size: .7rem;
    }

    .hideMovieInfo {
        transform: scale(.7);
        right: 7px;
        top: 7px;
    }

    /* END MOVIE INFORMATION */







    /* WATCH LIST AND WATCHED  */

    .amount-container {
        font-size: .7rem;
    }

    .number-of {
        padding: 7px 10px;
    }

    .watchlistContainer {
        gap: 10px;
    }

    .watchlistMovieCard {
        width: 140px;
    }

    .watchlistMovieCover {
        height: 180px;
    }

    .watchlistMovieName {
        font-size: .3rem;
    }

    .control_button_container{
        padding: 3px;
        gap: 3px;
    }

    .control_button_wrapper button{
        padding: 2px;
    }

    .control_icon_buttons{
        gap: 3px;
    }

    .no-movies {
        font-size: 1rem;
    }

    .trash,
    .eye,
    .info {
        transform: scale(.7);
    }
}